body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}
#home{
  font-size: 1.6rem;
  cursor: pointer;
}
h2 a{
  text-decoration: none;
  color:black;
}

.navigation{
  position: sticky;
  top:0;  
  background-color: white;
  z-index: 1000;
}
.navbar{
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size:1.3em;
  height:7vh;
} 
.inner_navbar{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap:70px;
}
.navbar ul{
  display: flex;
  align-items: center;
  gap:44px;
}
.navbar ul li{
  display: inline-block;
  position: relative;
}
.navbar img{
  display: flex;
  top: 20px;
  height:34px;
  cursor: pointer;
}
a{
  text-decoration: none;
  color:black;
}
.navbar ul li a::after{
  content: '';
  height:3px;
  width:0;
  background: #009688;
  position: absolute;
  left:0;
  bottom:-3px;
  transition: 0.5s;
}
.navbar ul li a:hover::after{
  width:100%;
}
.signIn{
  gap:10px;
}
.user-profile{
  display: none;
}

.column {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 8px;
}

.about-section {
  padding: 50px;
  text-align: center;
  background-color: #474e5d;
  color: white;
}

.container {
  padding: 0 16px;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #555;
}

.mobile-menu {
  display: flex;
  justify-content: center;
  display: none;
}
.mobile-menu ul li {
  list-style-type: none;
  margin-left: 20px;
  margin-right: 15px;
  cursor: pointer;
  font-size: 20px;
}

.mobile-menu ul li a {
  text-decoration: none;
  color: white;
  font-weight: 40px;
}

.mobile-menu ul li a {
  text-decoration: none;
}

.mobile-menu ul li a:link {
  text-decoration: none;
}

.mobile-menu ul li a:visited {
  text-decoration: none;
}

.mobile-menu ul li a:hover {
  text-decoration: none;
}

.mobile-menu ul li a:active {
  text-decoration: none;
}
/* burger */
.burger {
  display: none;
  justify-content: space-between;
  flex-direction: column;
  height: 18px;
  width: 24px;
}
.burger-line {
  display: flex;
  height: 2px;
  background-color: black;
}
.backdrop {
  display: none;
}
@media screen and (max-width: 650px) {
  .navigation ul{
    display: none;
  }
  h2 a {
      text-decoration: none;
      color: black;
  }
  .navbar {
      display: flex;
      justify-content: space-between;
      padding:0 15px;
      height: 8vh;
  }
  .inner_navbar{
      display: flex;
      flex-direction: row;
      align-items: center;
      gap:10px;
  }
  .mobile-menu ul{
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    gap: 30px;
    cursor: pointer;
  }
  .burger {
    display: flex;
    height: 18px;
    width: 20px;
  }
  .backdrop {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }
  .column {
    width: 100%;
    display: block;
  }
}
